# CMake та результати збірки
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*.cmake

# Системні файли
.DS_Store
Thumbs.db

# Налаштування редакторів коду 
.vscode/
.idea/

# Тимчасові папки збірки CMake
build/
bin/
obj/

# Завантажені моделі нейромереж для OpenCV DNN
*.caffemodel
*.prototxt
